<% layout('layouts/boilerplate') -%>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="camp-title" class="form-label">Title </label>
        <input
          type="text"
          id="camp-title"
          name="campground[title]"
          value="<%=campground.title%>"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="camp-location" class="form-label">Location </label>
        <input
          type="text"
          id="camp-location"
          name="campground[location]"
          value="<%=campground.location%>"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="camp-price" class="form-label">Price </label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            id="camp-price"
            name="campground[price]"
            value="<%=campground.price%>"
            class="form-control"
            aria-describedby="price-label"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="camp-image" class="form-label">Image </label>
        <input
          type="text"
          id="camp-image"
          name="campground[image]"
          value="<%=campground.image%>"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="camp-desc" class="form-label">Description </label>
        <textarea
          id="camp-desc"
          name="campground[description]"
          class="form-control"
          required
        >
<%=campground.description%></textarea
        >
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Update Campground</button>
      </div>
    </form>
  </div>
</div>
